# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist

# dependencies
/node_modules
/bower_components

# misc
/tmp
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.env.deploy.production
.env.deploy.staging
.env.deploy.test
.DS_Store
