md-switch.md-default-theme , md-switch {
  .md-ink-ripple {
    color: color($background, "500");
  }
  .md-thumb {
    background-color: color($background, "50");
  }
  .md-bar {
    background-color: color($background, "500");
  }

  &.md-checked {
    .md-ink-ripple {
      color: color($accent, "A200");
    }
    .md-thumb {
      background-color: color($accent, "A200");
    }
    .md-bar {
      background-color: rgba(color($accent, "A200"), 0.5);
    }
    &.md-focused .md-thumb:before {
      background-color: rgba(color($accent, "A200"), 0.26);
    }

    &.md-primary {
      .md-ink-ripple {
        color: color($primary, "500");
      }
      .md-thumb {
        background-color: color($primary, "500");
      }
      .md-bar {
        background-color: rgba(color($primary, "500"), 0.5);
      }
      &.md-focused .md-thumb:before {
        background-color: rgba(color($primary, "500"), 0.26);
      }
    }

    &.md-warn {
      .md-ink-ripple {
        color: color($warn, "500");
      }
      .md-thumb {
        background-color: color($warn, "500");
      }
      .md-bar {
        background-color: rgba(color($warn, "500"), 0.5);
      }
      &.md-focused .md-thumb:before {
        background-color: rgba(color($warn, "500"), 0.26);
      }
    }
  }

  &[disabled] {
    .md-thumb {
      background-color: color($background, "400");
    }
    .md-bar {
      background-color: rgba(0,0,0,0.12);
    }
  }
}
